@model SIGESF.Models.ItemDeConcessao

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes de itens de concessão</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConcessaoSuprimentoFundos.ConcessaoSuprimentoFundosId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConcessaoSuprimentoFundos.ConcessaoSuprimentoFundosId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NaturezaDespesa.CodigoDespesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaturezaDespesa.CodigoDespesa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NaturezaDespesaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaturezaDespesaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ItemDeConcessaoId }) |
    @Html.ActionLink("Retornar", "Index")
</p>
