@model SIGESF.Models.DetalheSolicitacaoSuprimentoFundos

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NaturezasDespesas.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaturezasDespesas.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolicitacaoSuprimentoFundos.Proc_Proad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolicitacaoSuprimentoFundos.Proc_Proad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorSolicitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorSolicitado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Atualizar", "Edit", new { id = Model.DetalheSolicitacaoId }) |
    @Html.ActionLink("Retornar", "Index")
</p>
