@model IEnumerable<SIGESF.Models.DetalheSolicitacaoSuprimentoFundos>

@{
    ViewBag.Title = "Index";
}

<h2>Manter Detalhes de Solicitação</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@if (TempData["Mensagem"] != null)
{
    <p>
        <h2>
            @TempData["Mensagem"]
        </h2>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NaturezasDespesas.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SolicitacaoSuprimentoFundos.Proc_Proad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorSolicitado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NaturezasDespesas.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SolicitacaoSuprimentoFundos.Proc_Proad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorSolicitado)
        </td>
        <td>
            @Html.ActionLink("Atualizar", "Edit", new { id=item.DetalheSolicitacaoId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.DetalheSolicitacaoId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.DetalheSolicitacaoId })
        </td>
    </tr>
}

</table>

