@model SIGESF.Models.ConcessaoSuprimentoFundos

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da Concessão de Suprimento de Fundos</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgenteSuprido.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgenteSuprido.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proc_Proad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proc_Proad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataConcessao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConcessao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SF_Apropriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SF_Apropriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrazoAplicacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrazoAplicacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFinalAplicacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFinalAplicacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrazoPrestContas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrazoPrestContas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrestadoContas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrestadoContas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPrestContas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPrestContas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finalidade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ConcessaoSuprimentoFundosId }) |
    @Html.ActionLink("Retornar", "Index")
</p>
