@model SIGESF.Models.ItemDeConcessao

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar itens de concessão</h2>

<h3>Você tem certeza que deseja excluir o item selecionado?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConcessaoSuprimentoFundos.ConcessaoSuprimentoFundosId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConcessaoSuprimentoFundos.ConcessaoSuprimentoFundosId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NaturezaDespesa.CodigoDespesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaturezaDespesa.CodigoDespesa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NaturezaDespesaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaturezaDespesaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar exclusão" class="btn btn-default" /> |
            @Html.ActionLink("Retornar", "Index")
        </div>
    }
</div>
