@model IEnumerable<SIGESF.Models.SolicitacaoSuprimentoFundos>

@{
    ViewBag.Title = "Index";
}

<h2>Manter Solicitações</h2>

<p>
    @Html.ActionLink("Nova solicitação", "Create")
</p>

@if (TempData["Mensagem"] != null)
{
    <p>
        <h2>
            @TempData["Mensagem"]
        </h2>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgenteSuprido.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proc_Proad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataSolicitacaoSF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finalidade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgenteSuprido.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proc_Proad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSolicitacaoSF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finalidade)
            </td>
            <td>
                @Html.ActionLink("Atualizar", "Edit", new { id = item.SolicitacaoSuprimentoFundosId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.SolicitacaoSuprimentoFundosId }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.SolicitacaoSuprimentoFundosId })
            </td>
        </tr>
    }
</table>
<div class="btn btn-default">
    <a href="@Url.Action("Create","DetalheSolicitacaoSuprimentoFundos")">
        <span class="menu-text"> Incluir Detalhes Solicitação </span>
    </a>

</div>
