<ul class="nav nav-list">
    <li class="">
        <a href="@Url.Action("Index", "Dashboard")">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
                UI &amp; Elements
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-caret-right"></i>

                    Layouts
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="@Url.Action("TopMenu", "UIElements")">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Top Menu
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="@Url.Action("TwoMenu1", "UIElements")">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Two Menus 1
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="@Url.Action("TwoMenu2", "UIElements")">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Two Menus 2
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="@Url.Action("MobileMenu1", "UIElements")">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Default Mobile Menu
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="@Url.Action("MobileMenu2", "UIElements")">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Mobile Menu 2
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="@Url.Action("MobileMenu3", "UIElements")">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Mobile Menu 3
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="@Url.Action("Typography", "UIElements")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Typography
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Elements", "UIElements")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Elements
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Buttons", "UIElements")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Buttons &amp; Icons
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("ContentSliders", "UIElements")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Content Sliders
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("TreeView", "UIElements")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Treeview
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("JQueryUI", "UIElements")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    jQuery UI
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("NestableLists", "UIElements")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nestable Lists
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-caret-right"></i>

                    Three Level Menu
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="#">
                            <i class="menu-icon fa fa-leaf green"></i>
                            Item #1
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-pencil orange"></i>

                            4th level
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="#">
                                    <i class="menu-icon fa fa-plus purple"></i>
                                    Add Product
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="#">
                                    <i class="menu-icon fa fa-eye pink"></i>
                                    View Products
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Tables </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("Table", "Tables")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Simple &amp; Dynamic
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("JQGrid", "Tables")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    jqGrid plugin
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> Forms </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("FormElements", "Forms")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Form Elements
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("FormElements2", "Forms")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Form Elements 2
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("FormWizard", "Forms")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Wizard &amp; Validation
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("WYSIWYG", "Forms")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Wysiwyg &amp; Markdown
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Dropzone", "Forms")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Dropzone File Upload
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="@Url.Action("Index", "Widgets")">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text"> Widgets </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="@Url.Action("Index", "Calendar")">
            <i class="menu-icon fa fa-calendar"></i>

            <span class="menu-text">
                Calendar

                <span class="badge badge-transparent tooltip-error" title="2 Important Events">
                    <i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>
                </span>
            </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="@Url.Action("Index", "Gallery")">
            <i class="menu-icon fa fa-picture-o"></i>
            <span class="menu-text"> Gallery </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-tag"></i>
            <span class="menu-text"> More Pages </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("ProfilePage", "MorePages")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    User Profile
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Inbox", "MorePages")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Inbox
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Pricing", "MorePages")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Pricing Tables
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Invoice", "MorePages")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Invoice
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Timeline", "MorePages")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Timeline
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("EmailTemplates", "MorePages" )">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Email Templates
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Login", "MorePages")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Login &amp; Register
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="active open">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-file-o"></i>

            <span class="menu-text">
                Other Pages

                <span class="badge badge-primary">5</span>
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("FAQ", "OtherPages")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    FAQ
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Error404", "OtherPages")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Error 404
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Error500", "OtherPages")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Error 500
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Grid", "OtherPages")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Grid
                </a>

                <b class="arrow"></b>
            </li>

            <li class="active">
                <a href="@Url.Action("Blank", "OtherPages")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Blank Page
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
</ul><!-- /.nav-list -->
