<ul class="nav nav-list">
    
    @*@if (User.IsInRole("Administrador"))
    {*@
    <li class="">
        <a href="@Url.Action("Index", "Home")">
            <i class="menu-icon fa fa-home"></i>
            <span class="menu-text"> Home </span>
        </a>
    </li>
    

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Agentes Supridos </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("Create","AgenteSuprido")">
                    <i class="menu-icon fa fa-group"></i>
                    <span class="menu-text"> Cadastrar novo </span>
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("Index","AgenteSuprido")">
                    <i class="menu-icon fa fa-group"></i>
                    <span class="menu-text"> Manter Agentes Supridos </span>
                </a>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-shopping-cart"></i>
            <span class="menu-text"> Solicitações SF </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("Create","SolicitacaoSuprimentoFundos")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Incluir Solicitação </span>
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("Index","SolicitacaoSuprimentoFundos")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Manter Solicitação </span>
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("Create","DetalheSolicitacaoSuprimentoFundos")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Incluir Detalhes Solicitação </span>
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("Index","DetalheSolicitacaoSuprimentoFundos")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Manter Detalhes Solicitação </span>
                </a>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-money"></i>
            <span class="menu-text"> Concessões SF </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("Create","ConcessaoSuprimentoFundos")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Incluir nova Concessão </span>
                </a>
            </li>

            <li class="">
                <a href="@Url.Action("Index","ConcessaoSuprimentoFundos")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Manter Dados de Concessão </span>
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("Create","DetalheConcessaoAplicacaoSF")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Incluir Detalhes Concessão </span>
                </a>
            </li>

            <li class="">
                <a href="@Url.Action("Index","DetalheConcessaoAplicacaoSF")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Manter Detalhes de Concessão </span>
                </a>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-dollar"></i>
            <span class="menu-text"> Grupo Despesa </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("Create","NaturezaDespesa")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Cadastro Nat Despesa </span>
                </a>
            </li>

            <li class="">
                <a href="@Url.Action("Index","NaturezaDespesa")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Manter Cadastro Despesa </span>
                </a>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-print"></i>
            <span class="menu-text"> Relatórios </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("RelatorioGeralAgentesSupridos","Relatorio")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Relação de Supridos </span>
                </a>
            </li>

            <li class="">
                <a href="@Url.Action("RelatorioGeralSolicitacoes","Relatorio")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Relação de Solicitações </span>
                </a>
            </li>

            <li class="">
                <a href="@Url.Action("RelatorioGeralConcessao","Relatorio")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Relação de Concessões </span>
                </a>
            </li>
    </li>
    @*}*@
</ul><!-- /.nav-list -->
