<ul class="nav nav-list">
    
    @if (User.IsInRole("Administrador"))
    {
    <li class="">
        <a href="@Url.Action("Index", "Home")">
            <i class="menu-icon fa fa-pencil"></i>
            <span class="menu-text"> Home </span>
        </a>
    </li>
    

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Agentes Supridos </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("Index","AgenteSuprido")">
                    <i class="menu-icon fa fa-group"></i>
                    <span class="menu-text"> Cadastro Supridos </span>
                </a>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-money"></i>
            <span class="menu-text"> Concessões SF </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("Index","ConcessaoSuprimentoFundos")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Concessao SF </span>
                </a>
            </li>

            <li class="">
                <a href="@Url.Action("Index","DetalheConcessaoAplicacaoSF")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Detalhes Concessão </span>
                </a>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-dollar"></i>
            <span class="menu-text"> Grupo Despesa </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("Index","NaturezaDespesa")">
                    <i class="menu-icon fa fa-dollar"></i>
                    <span class="menu-text"> Cadastro Nat Despesa </span>
                </a>
            </li>
        </ul>
    </li>
    }
</ul><!-- /.nav-list -->
