@model IEnumerable<SIGESF.ViewModels.RelatorioGeralAgentesSupridosViewModel>

@{
    ViewBag.Title = "Relatorio Geral de Agentes Supridos";
}

<h2>@ViewBag.Title</h2>


<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnidadeLotacao)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadeLotacao)
            </td>
        </tr>
    }
</table>